<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	
	<style>
	body 		{ padding-top:80px; }
	</style>
</head>


    <body>
    	<div class="container">

    		<div class="jumbotron text-center">
    			<h1><span class="fa fa-lock"></span>졸작이 졸작이다. </h1>
    			<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span>Google+</a>
    		</div>



    	</div>
    </body>
    </html>