<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Authentication</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<style>
	body 		{ padding-top:80px; }
	</style>
</head>


    <body>
    	<div class="container">

    		<div class="jumbotron text-center">
    			<h1><span class="fa fa-lock"></span>Working Board - Google Calendar</h1>
<<<<<<< HEAD
    			<a href="http://localhost:8000/main" class="btn btn-danger"><span class="fa fa-google-plus"></span>Google+</a>
=======
    			<a href="/main" class="btn btn-danger"><span class="fa fa-google-plus"></span>Google+</a>
>>>>>>> 669eacd664c858c182153415e4e580782b46df10
    		</div>



    	</div>
    </body>
    </html>