<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Four Column Portfolio Template for Bootstrap 3</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS for the '4 Col Portfolio' Template -->
  <link href="css/4-col-portfolio.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-tabs nav-justified">
      <li><a id="calendar" href="#">Calendar</a></li>
      <li><a href="#">Plan</a></li>
      <li><a href="#">Board</a></li>
      <li><a href="#">Storage</a></li>
      </ul>

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  </nav>

  <div id="contents"> 
    
  </div>
  
<!-- /.container  -->

<!-- JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script> 
$(document).ready(function() {
  $("#calendar").click(function() {
    $.ajax({
    url : "/gcal",
    dataType : "jsonp",
    jsonp : "callback",
    success : function(d){
        // d.key;
    }
    });
    
   });   
});


</script>

</body>

</html>