<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Four Column Portfolio Template for Bootstrap 3</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS for the '4 Col Portfolio' Template -->
  <link href="css/4-col-portfolio.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">

    </div>
    <!-- /.container -->
  </nav>

  <div class="container">

    <div class="row">

      <div class="col-lg-12">
        <h1 class="page-header">My Calendar
        </h1>
      </div>

    </div>

    <% for(var i = 0; i < items.length; ++i) { %>

      <% if( i % 4 == 0) { %>
        <div class="row">
      <% } %>
   
      <div class="col-md-3 portfolio-item">
          <div class="img-responsive"> <%= items[i].summary %> </div>
      </div>
      
      <% if( i % 4 == 0) { %>
        </div> 
      <% } %>

      
    <% } %>
 
    

</div>
<!-- /.container -->

<div class="container">

  <hr>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Soorum 2013</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container  -->

<!-- JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>

</html>
